@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}



.persinf {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bolder;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 800px;
  height: 580px;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.logo {
  color: #fff;
  font-size: 28px;
  font-weight: 350;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 400px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}


.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 400px;
  height: 580px;
  background: url('../img/logbg.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 0 10px 10px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

h1 a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: uppercase;
}

#php_error{
  display:none;
}
